*.pyc
include/
lib/
staticfiles/
media/
.build

# Sass-cache
*.sass-cache/

# sqlite3 db
*.db
*.sqlite3

# Virtual env
venv/

# Mac crap
*.DS_Store

# Front-end Build
node_modules/
bower_components/
_build/

# Ghostdriver
ghostdriver.log

.env
